<div id="about" class="about-content main-padding">
    <div class="about-head">
        <div class="left"><img src="assets/img/mads.jpg"></div>
        <div class="right">
            <div class="headline">Über mich.</div>
            <div class="about-text">
                Ich bin ein ruhevoller, disziplinierter Asket, interressiert an optimaler Gesundheit und
                kontinuierlicher Selbstverbesserung.
                Tägliches Weiterbilden, Meditieren und sportliches Training gehören zu meiner Routine.
                Ich bin empathisch, offen & vielseitig interressiert. 
                Einer meiner neu gewonnenen, stets weiter zu entfaltenden Leidenschaften ist das Programmieren. 
            </div>
        </div>
    </div>
    <div class="about-sub">
        <div class="sub-slot" style="padding-left: 0px;">
            <div class="icon">
                <img src="assets/img/walk-line.png">
            </div>
            <h2>MEINE REISE BEGANN</h2>
            <div class="text">
                mit der Auseinandersetzung der Werke Dr. Nūn Sava-Siva Amen-Ra's.
                Sowohl direkt als auch indirekt habe ich von ihm lernen können und im Zuge dessen meine Lebensausrichtung
                reevaluiert.
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/heart-line.png">
            </div>
            <h2>FOLGLICH WURDE MIR KLAR</h2>
            <div class="text">
                im Programmieren Erfüllung zu finden. Ich habe stets ein gewisses Grundinteresse für den IT-Bereich gehegt.
                Durch mein reevaluieren und reflektieren erkannte ich in der Ausrichtung professioneller Programmierer zu werden 
                großes Potential und das Zusammenkommen idealistischer, praktischer und kreativer Motivationen meinerseits. 
            </div>
        </div>
        <div class="sub-slot">
            <div class="icon">
                <img src="assets/img/search-line.png">
            </div>
            <h2>DIE DEVELOPER AKADEMIE</h2>
            <div class="text">
                half mir als professionelles Ausbildungsinstitut die Freizeit neben meines Vollzeitjobs zu nutzen um mich erfolgreich zum qualifizierten Jr. Front-End Entwickler auszubilden
                und somit als Quereinsteiger in der IT-Branche Fuß fassen zu können. 
            </div>
        </div>
        <div class="sub-slot" style="padding-right: 0px;">
            <div class="icon">
                <img src="assets/img/flight-takeoff-line.png">
            </div>
            <h2>DIE REISE GEHT WEITER</h2>
            <div class="text">
                und ich freue mich, mich in diversen Projekten einbringen zu können, Potential zu entfalten und künftig mit Mehrwert zu stiften.
                Ich freue mich meine neu gewonnene Leidenschaft nun zum Beruf zu machen und mich somit auch mehr darauf fokusieren zu können. 
                Zudem bin ich dankbar für jedwede Chance weiter zu lernen und inkrementell tiefer in die Materie eindringen zu können. 
            </div>
        </div>
    </div>
</div>