
.about-content {
    background-color: #1A1A1A;
    color: white;
}

.about-head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f4f4f2;

    img {
        border-radius: 160px;
    border: 1px solid #494442;
    box-shadow: 0 0 4px #c9bdbd;
    }
}

.about-sub {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.about-text {
    width: 460px;
}

.sub-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 300px;

    h2 {
        height: 66px;
    }
}

.slot-left {
    padding-left: 0px;
}

.slot-right {
    padding-right: 0px;
}

.left {
    padding-right: 40px;
}

.right {
    padding-left: 40px;
    padding-bottom: 20px;
}

.headline {
    font-size: 36px;
    padding: 20px;
}

.icon {
    background-color: #080a09;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px white;
    border: 1px solid white;

    img {
        height: 40px;
        width: 40px;
        object-fit: contain;
    }
    
}

@media(max-width:1200px) {
    .about-sub {
        flex-direction: column;
        align-items: center;
    }

    .slot-left {
        padding-left: 20px;
    }
    
    .slot-right {
        padding-right: 20px;
    }

    .sub-slot {
        transform: unset !important;

        h2 {
            height: unset;
        }
        
    }
}

@media(max-width:820px) {
    .about-head {
        flex-direction: column;
    }

    .left {
        padding: 0px;
    }

    .right {
        padding: 0px;
    }
}

@media(max-width:460px) {
    .about-text {
        width: unset;
    }
}

@media(max-width:350px) {
    .sub-slot {
        width: unset;
    }
}


.foo {
    transition: transform 4s ease-out;
  }
   
  .foo.sn-viewport--out {
    transform: translateX(-300px);
    
  }
   
  .foo.sn-viewport--in {
    transform: translateX(0);
    
  }

  .foo2 {
    transition: transform 2s ease-out;
  }
   
  .foo2.sn-viewport--out {
    transform: translateX(-300px);
    
  }
   
  .foo2.sn-viewport--in {
    transform: translateX(0);
    
  }

  .foo3 {
    transition: transform 2s ease-out;
  }
   
  .foo3.sn-viewport--out {
    transform: translateX(300px);
  }
   
  .foo3.sn-viewport--in {
    transform: translateX(0);
  }

  .foo4 {
    transition: transform 4s ease-out;
  }
   
  .foo4.sn-viewport--out {
    transform: translateX(300px);
  }
   
  .foo4.sn-viewport--in {
    transform: translateX(0);
  }

.opacity {
    transition: opacity 3s ease-in;
}

  .opacity.sn-viewport--out {
      opacity: 0 ;
  }

  .opacity.sn-viewport--in {
    opacity: 1 ;  
}

.image-frame {
    background-color: #b6a4a04d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 120px;
    /* box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%); */
    box-shadow: 0 0 4px #c9bdbd;

}
