.contact-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;

    h2 {
        color: #f4f4f2;
        font-size: 64px;
    }

    p {
        color: #989898;
        margin-bottom: 40px;
        text-align: center;
    }

    input {
        color: white;
        background-color: #1a1a1a;
        border: none;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 530px;
        border-bottom: 2px solid grey;
        transition: all 225ms ease-in-out !important;

        &:hover {
            border-bottom: 2px solid #f4f4f2;
        }
    }

    textarea {
        color: white;
        background-color: #1a1a1a;
        border: none;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 530px;
        font-family: "Open Sans", sans-serif;
        height: 155px;
        border-bottom: 2px solid grey;
        transition: all 225ms ease-in-out !important;

        &:hover {
            border-bottom: 2px solid #f4f4f2;
        }
    }
}


.info {
    color: white;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    

    .send-button {
        
        width: 125px;
        height: 45px;
        cursor: pointer;

        &:hover {
            
            color: black;
        }
    }
}

@media(max-width: 870px) {
    .meta-contact-content {
        background-image: unset !important;
        background-color: black !important;
        height: unset;
        width: unset;
        justify-content: center !important;
    }

    .design-column {
        display: none;
    }

    .contact-content {
        width: -webkit-fill-available;
    }

    .success-content {
        height: unset !important;
    }
}

@media(max-width:720px) {
    .contact-content {
        h2 {
        font-size: 7.2vw;
    }}

    h1 {
        font-size: 5vw;
    }
}

@media(max-width:650px) {
    .form {
        align-items: center;
    }

    .contact-content {
        input {
            width: 400px;
        }

        textarea {
            width: 400px;
        }
    }
}

@media(max-width:450px) {
    .contact-content {
        input {
            width: 200px;
        }

        textarea {
            width: 200px;
        }

        h2 {
            font-size: 9.2vw;
    }

    p {
        width: 200px;
    }

    h1 {
        font-size: 6.5vw;
    }
}

}

textarea:focus, input:focus{
    outline: none;
    border-bottom: 2px solid #2DFCD8 !important;
    
}

.success-container {
    background-color: black;
}

.success-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 53vh;

    p {
        color: white;
    }
}

button {
    background-color: #1a1a1a;
    border: 1px solid #b6a4a0;
    color: white;
    width: 125px;
    height: 45px;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        box-shadow: 0 0 4px #c9bdbd;
    }
}

.opacity {
    transition: opacity 3s ease-in;
}

  .opacity.sn-viewport--out {
      opacity: 0 ;
  }

  .opacity.sn-viewport--in {
    opacity: 1 ;  
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    letter-spacing: 2px;

}

.loading {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.loading .line-box {
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 1px solid #555c5e;
    border-radius: 20px;
    box-shadow: 0 0 4px #c9bdbd;
}

.loading .line-box .line {
    height: 20px;
    border-radius: 20px;
    background: white;
    animation: loading 1s forwards cubic-bezier(0, 0, 0, 0);
    box-shadow: 0px 0px 8px aliceblue;
 }

 h1{
     position: relative;
     color: #fff;
     overflow: hidden;
 }

 h1:before {
     content: '';
     position: absolute;
     left: 120%;
     width: 120%;
     height: 100%;
     background: linear-gradient(90deg, transparent 0%, black 5%, black 100%);
     animation: animate 2s linear forwards;
 }

 @keyframes loading {
     0% {
         width: 0%;
     }
     100% {
         width: 100%;
     }
 }

 @keyframes animate {
     0% {
         left: -20%;
     }
     50% {
        left: -20%;
    }
     100% {
         left: 120%;
     }
 }

 .animation-delay {
    animation: 3s ease 0s normal forwards 1 fadeIn;
 }

 @keyframes fadeIn {
     0% {opacity: 0;}
     66% {opacity: 0;}
     100% {opacity: 1;}
 }

 .contact-btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    backdrop-filter: blur(100px);
    background-color: #b6a4a0;
    margin-top: unset !important;
    margin-bottom: unset !important;

    input {
        background-color: unset;
        color: black;
    }
    
}

.no-border {
    border-bottom: 0px solid grey !important;
    margin: 0px !important;
    margin-top: 1px !important;
}

.contact-btn:hover {
  color: white;
  background: white;
  box-shadow: 0 0 10px #c9bdbd;
    transition-delay: 1s;
} 

.contact-btn span {
    position: absolute;
    display: block;
}

.contact-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ffffff);
}

.contact-btn:hover span:nth-child(1) {
    left: 100%;
    transition: 1s ;
}

.contact-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ffffff);
}

.contact-btn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.contact-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
}
.contact-btn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.contact-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ffffff);
}
.contact-btn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.meta-contact-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../../assets/img/marble.jpg);
    height: 100%;
    width: 100%;
    backdrop-filter: blur(100px);
}

.design-column {
    
    width: 13%;
    margin-top: 0px;
    margin-bottom: 00px;
    width: -webkit-fill-available;
}

.design-column-sub {
    height: 100%;
    
    background-color: #b6a4a0f0;
    
    
}



 