<div class="menu-content main-padding">
    <div class="header">
        <div class="logo">
            <img routerLink="/" src="assets/img/logowhite.png">
        </div>
        <div class="menu">
            <div *ngIf="german">
                <a routerLink="/">HOME</a>
                <a href="#about">ÜBER MICH</a>
                <a href="#work">PORTFOLIO</a>
            </div>

            <div *ngIf="english">
                <a routerLink="/">HOME</a>
                <a href="#about">ABOUT</a>
                <a href="#work">PORTFOLIO</a>
            </div>

            <div class="language-selection">
                <div (click)="selectGerman()">DE</div>
                <div (click)="selectEnglish()">EN</div>
            </div>
        </div>
    </div>
</div>