<div class="menu-content main-padding">
    <div class="header">
        <div class="logo">
        <a href="#top" style="margin-left: 0;"><img src="assets/img/logowhite.png"></a>
        </div>
        <div class="menu">
            <div *ngIf="ls.german">
                <a href="#top">HOME</a>
                <a href="#about">ÜBER MICH</a>
                <a href="#work">PORTFOLIO</a>
            </div>

            <div *ngIf="ls.english">
                <a href="#top">HOME</a>
                <a href="#about">ABOUT</a>
                <a href="#work">PORTFOLIO</a>
            </div>

            

            <div class="language-selection">
                <div (click)="ls.selectGerman()">DE</div>
                <div (click)="ls.selectEnglish()">EN</div>
            </div>
        </div>
    </div>
</div>