<div class="menu-content main-padding">
    <div class="header">
        <div class="logo">
        <a class="img-a" href="#top" style="margin-left: 0;"><img src="assets/img/logowhite.png"></a>
        </div>
        <div class="menu">
            <div *ngIf="ls.german">
                <a href="#top">HOME</a>
                <a href="#about">ÜBER MICH</a>
                <a href="#work">PORTFOLIO</a>
            </div>

            <div *ngIf="ls.english">
                <a href="#top">HOME</a>
                <a href="#about">ABOUT</a>
                <a href="#work">PORTFOLIO</a>
            </div>

            <div  id="symbol" class="d-none responsive-menu">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div id="overlay-menu" class="overlay-menu d-none">
                <a href="#">Link1</a>
                <a href="#">Link2</a>
                <a href="#">Link3</a>
                <a href="#">Link4</a>
                <button class="button">Schließen</button>
            </div>

            <div class="language-selection">
                <div (click)="ls.selectGerman()">DE</div>
                <div (click)="ls.selectEnglish()">EN</div>
            </div>
        </div>
    </div>
</div>