.work-content {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headline {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 36px;
    padding-top: 60px;
}

.selector {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;

    button {
        height: 60px;
        width: 120px;
        color: white;
        background-color: black;
        border: 1px solid #b6a4a0;
        margin: 3px;
        cursor: pointer;

        &:hover {
            background-color: #b6a4a0;
        }
    }
}

.button-selected {
    background-color: #b6a4a0 !important;
}

.projects-box {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
     

    .project {
    margin: 20px;
    z-index: 1;
    box-shadow: 0 0 9px #606060;
    padding-bottom: 4px; 
     

        
         

        .project-details {
            width: 400px;
            height: 300px;
            z-index: 1;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: black;
            background-color: #8d82828e;
                backdrop-filter: blur(3px);
                transform: scale(1.01);
                box-shadow: 0 0 4px #c9bdbd;
            

            

            h2 {
                
                color:#ffffff!important;
                margin-bottom: 8px;
            }

            p {
                font-weight: 400;
            }

            a {
                text-decoration: none;
                color:#606060!important;
                background-color: white;
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 15px;
                transform: scale(1) !important;
                width: 80px;
                text-align: center;
                font-family: Montserrat,sans-serif!important;
                border-radius: 4px;
                box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
                

                &:hover {
                    background-color: #606060!important;
                    color: white !important;
                    
                }
            }
            }
        
        img {
            width: 400px;
            height: 300px;
            object-fit: cover;
            box-shadow: 0 0 9px #606060;
        }
    }
}

.kochwelt {
    object-fit: contain;
}

@media(max-width:450px) {
    .projects-box {
      .project {
          
              img {
                  width: 250px;
                  height: 200px;
              }
          .project-details {
            width: 250px;
            height: 200px;

            a {
                padding: 10px;
            }
          }
      }
    }

    .selector {

        margin: 5px;
        button {
            height: 50px;
            width: 80px;
        }
    }
}

.blur-bg {
    filter: opacity(30%) blur(4px);
}

.underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .underline-animation:before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }