<div id="work" class="work-content main-padding">
    <div *ngIf="ls.german">
        <div class="headline">Meine Projekte</div>
        <div class="selector">
            <button [class.button-selected]="showAll" (click)="showAllProjects()">Alle</button>
            <button [class.button-selected]="showAngular && !showAll" (click)="showAngularProjects()">Angular</button>
            <button [class.button-selected]="showJavaScript && !showAll" (click)="showJavaScriptProjects()">Java
                Script</button>
        </div>

        <div class="projects-box">
            <div *ngIf="showJavaScript || showAll" (mouseenter)="showDetails1=true" (mouseleave)="showDetails1=false"
                class="project">
                <div *ngIf="showDetails1" class="project-details" [@inOutAnimation]>
                    <h2 class="underline-animation">PJM-Kanban</h2>
                    <p><b>Javascript/Firebase - Kanban</b></p>
                    <a href="https://mkhansen.de/pjm-kanban/index.html" target="_blank">Anzeigen</a>
                </div>
                <img src="assets/img/pjmkanbanmo.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails5=true" (mouseleave)="showDetails5=false"
                class="project">
                <div *ngIf="showDetails5" class="project-details" [@inOutAnimation]>
                    <h2>El Pollo Loco</h2>
                    <p><b>Javascript - Jump & Run Game</b></p>
                    <a href="https://mkhansen.de/el-pollo-loco/index.html" target="_blank">Anzeigen</a>
                </div>
                <img src="assets/img/eplingamemu.jpg">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails3=true" (mouseleave)="showDetails3=false"
                class="project">
                <div *ngIf="showDetails3" class="project-details" [@inOutAnimation]>
                    <h2>Lieferando</h2>
                    <p><b>Javascript - Lieferando Nachbau</b></p>
                    <a href="https://mkhansen.de/lieferando-replica/lieferando.html" target="_blank">Anzeigen</a>
                </div>
                <img src="assets/img/lieferandomo.png">
            </div>
            <div *ngIf="showAll || showAngular" (mouseenter)="showDetails6=true" (mouseleave)="showDetails6=false"
                class="project">
                <div *ngIf="showDetails6" class="project-details" [@inOutAnimation]>
                    <h2>Ring of Fire</h2>
                    <p><b>Angular/Firebase - Web game</b></p>
                    <a href="https://ring-of-fire-44abb.web.app/" target="_blank">Anzeigen</a>
                </div>
                <img class="slimimage-fit" src="assets/img/ringoffirephonemo2.png">
            </div>
            <div *ngIf="showAll || showAngular" (mouseenter)="showDetails4=true" (mouseleave)="showDetails4=false"
                class="project">
                <div *ngIf="showDetails4" class="project-details" [@inOutAnimation]>
                    <h2>Mein Portfolio</h2>
                    <p><b>Angular - Meine Website</b></p>
                    <a href="#">Anzeigen</a>
                </div>
                <img class="slimimage-fit2" src="assets/img/portfoliowmo2.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails2=true" (mouseleave)="showDetails2=false"
                class="project">
                <div *ngIf="showDetails2" class="project-details" [@inOutAnimation]>
                    <h2>Kochwelt</h2>
                    <p><b>Javascript - Rezeptseite</b></p>
                    <a href="https://mkhansen.de/kochwelt/index.html" target="_blank">Anzeigen</a>
                </div>
                <img class="kochwelt" src="assets/img/kochweltmo.jpeg">
            </div>
        </div>
    </div>

    <div *ngIf="ls.english">
        <div class="headline">My Projects</div>
        <div class="selector">
            <button [class.button-selected]="showAll" (click)="showAllProjects()">All</button>
            <button [class.button-selected]="showAngular && !showAll" (click)="showAngularProjects()">Angular</button>
            <button [class.button-selected]="showJavaScript && !showAll" (click)="showJavaScriptProjects()">Java
                Script</button>
        </div>

        <div class="projects-box">
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails1=true" (mouseleave)="showDetails1=false"
                class="project">
                <div *ngIf="showDetails1" class="project-details" [@inOutAnimation]>
                    <h2>PJM-Kanban</h2>
                    <p><b>Javascript/Firebase - Kanban</b></p>
                    <a href="https://mkhansen.de/pjm-kanban/index.html" target="_blank">Show</a>
                </div>
                <img src="assets/img/pjmkanbanmo.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails5=true" (mouseleave)="showDetails5=false"
                class="project">
                <div *ngIf="showDetails5" class="project-details" [@inOutAnimation]>
                    <h2>El Pollo Loco</h2>
                    <p><b>Javascript - Jump & Run Game</b></p>
                    <a href="https://mkhansen.de/el-pollo-loco/index.html" target="_blank">Show</a>
                </div>
                <img src="assets/img/eplingamemu.jpg">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails3=true" (mouseleave)="showDetails3=false"
                class="project">
                <div *ngIf="showDetails3" class="project-details" [@inOutAnimation]>
                    <h2>Lieferando</h2>
                    <p><b>Javascript - Lieferando replica</b></p>
                    <a href="https://mkhansen.de/lieferando-replica/lieferando.html" target="_blank">Show</a>
                </div>
                <img src="assets/img/lieferandomo.png">
            </div>
            <div *ngIf="showAll || showAngular" (mouseenter)="showDetails6=true" (mouseleave)="showDetails6=false"
                class="project">
                <div *ngIf="showDetails6" class="project-details" [@inOutAnimation]>
                    <h2>Ring of Fire</h2>
                    <p><b>Angular/Firebase - Web game</b></p>
                    <a href="https://ring-of-fire-44abb.web.app/" target="_blank">Show</a>
                </div>
                <img class="slimimage-fit" src="assets/img/ringoffirephonemo2.png">
            </div>
            <div *ngIf="showAll || showAngular" (mouseenter)="showDetails4=true" (mouseleave)="showDetails4=false"
                class="project">
                <div *ngIf="showDetails4" class="project-details" [@inOutAnimation]>
                    <h2>My Portfolio</h2>
                    <p><b>My personal Website</b></p>
                    <a href="#">Show</a>
                </div>
                <img class="slimimage-fit2" src="assets/img/portfoliowmo2.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails2=true" (mouseleave)="showDetails2=false"
                class="project">
                <div *ngIf="showDetails2" class="project-details" [@inOutAnimation]>
                    <h2>Kochwelt</h2>
                    <p><b>Javascript - Recipe website</b></p>
                    <a href="https://mkhansen.de/kochwelt/index.html" target="_blank">Show</a>
                </div>
                <img class="kochwelt" src="assets/img/kochweltmo.jpeg">
            </div>
        </div>
    </div>

</div>