<div class="work-content main-padding">
    <div class="headline">My work</div>
    <div class="selector">
        <button>All</button>
        <button>Angular</button>
        <button>Java Script</button>
    </div>
    <div class="projects">
        <div class="project">
            <img src="assets/img/setup.jpg">
        </div>
        <div class="project">
            <img src="assets/img/setup2.jpg">
        </div>
        <div class="project">
            <img src="assets/img/setup2.jpg">
        </div>
        <div class="project">
            <img src="assets/img/setup.jpg">
        </div>
    </div>
</div>