<div id="work" class="work-content main-padding">
    <div *ngIf="ls.german">
        <div class="headline">Meine Projekte</div>
        <div class="selector">
            <button [class.button-selected]="showAll" (click)="showAllProjects()">Alle</button>
            <button [class.button-selected]="showAngular && !showAll" (click)="showAngularProjects()">Angular</button>
            <button [class.button-selected]="showJavaScript && !showAll" (click)="showJavaScriptProjects()">Java
                Script</button>
        </div>

        <div class="projects-box">
            <div *ngIf="showJavaScript || showAll" (mouseenter)="showDetails1=true" (mouseleave)="showDetails1=false"
                class="project">
                <div *ngIf="showDetails1" class="project-details" [@inOutAnimation]>
                    <h2>PJM-Kanban</h2>
                    <p>Javascript/Firebase - Kanban</p>
                    <a href="http://mads-kristian-hansen.developerakademie.com/pjm-kanbanboard/index.html" target="_blank">Anzeigen</a>
                </div>
                <img src="assets/img/pjmkanban.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails2=true" (mouseleave)="showDetails2=false"
                class="project">
                <div *ngIf="showDetails2" class="project-details">
                    <h2>Kochwelt</h2>
                    <p>Javascript - Rezeptseite</p>
                    <a href="http://mads-kristian-hansen.developerakademie.com/kochwelt/index.html" target="_blank">Anzeigen</a>
                </div>
                <img class="kochwelt" src="assets/img/kochwelt3.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails3=true" (mouseleave)="showDetails3=false"
                class="project">
                <div *ngIf="showDetails3" class="project-details">
                    <h2>Lieferando</h2>
                    <p>Javascript - Lieferando Nachbau</p>
                    <a href="http://mads-kristian-hansen.developerakademie.com/lieferando/lieferando.html" target="_blank">Anzeigen</a>
                </div>
                <img src="assets/img/lieferando2.png">
            </div>
            <div *ngIf="showAll || showAngular" (mouseenter)="showDetails4=true" (mouseleave)="showDetails4=false"
                class="project">
                <div *ngIf="showDetails4" class="project-details">
                    <h2>Mein Portfolio</h2>
                    <p>Angular - Meine Website</p>
                    <a href="#">Anzeigen</a>
                </div>
                <img src="assets/img/portfolio.png">
            </div>
        </div>
    </div>

    <div *ngIf="ls.english">
        <div class="headline">My Projects</div>
        <div class="selector">
            <button [class.button-selected]="showAll" (click)="showAllProjects()">All</button>
            <button [class.button-selected]="showAngular && !showAll" (click)="showAngularProjects()">Angular</button>
            <button [class.button-selected]="showJavaScript && !showAll" (click)="showJavaScriptProjects()">Java
                Script</button>
        </div>

        <div class="projects-box">
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails1=true" (mouseleave)="showDetails1=false"
                class="project">
                <div *ngIf="showDetails1" class="project-details">
                    <h2>PJM-Kanban</h2>
                    <p>Javascript/Firebase - Kanban</p>
                    <a href="http://mads-kristian-hansen.developerakademie.com/pjm-kanbanboard/index.html" target="_blank">Show</a>
                </div>
                <img src="assets/img/pjmkanban.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails2=true" (mouseleave)="showDetails2=false"
                class="project">
                <div *ngIf="showDetails2" class="project-details">
                    <h2>Kochwelt</h2>
                    <p>Javascript - Recipe website</p>
                    <a href="http://mads-kristian-hansen.developerakademie.com/kochwelt/index.html" target="_blank">Show</a>
                </div>
                <img class="kochwelt" src="assets/img/kochwelt3.png">
            </div>
            <div *ngIf="showAll || showJavaScript" (mouseenter)="showDetails3=true" (mouseleave)="showDetails3=false"
                class="project">
                <div *ngIf="showDetails3" class="project-details">
                    <h2>Lieferando</h2>
                    <p>Javascript - Lieferando replica</p>
                    <a
                        href="http://mads-kristian-hansen.developerakademie.com/lieferando/14%20Lieferando/lieferando.html" target="_blank">Show</a>
                </div>
                <img src="assets/img/lieferando2.png">
            </div>
            <div *ngIf="showAll || showAngular" (mouseenter)="showDetails4=true" (mouseleave)="showDetails4=false"
                class="project">
                <div *ngIf="showDetails4" class="project-details">
                    <h2>My Portfolio</h2>
                    <p>My personal Website</p>
                    <a href="#">Show</a>
                </div>
                <img src="assets/img/portfolio.png">
            </div>
        </div>
    </div>

</div>