<div class="welcome-content main-padding">
    <div id="welcome" class="welcome-main">
        <div></div>

        <div *ngIf="ls.german" class="greeting">Hi, <br>
            Ich bin <p>Mads</p> Kristian Hansen <br>
            Front End Entwickler
            <a href="#work">Kontaktiere mich</a>
        </div>

        <div *ngIf="ls.english" class="greeting">Hi, <br>
            I'm <p>Mads</p> Kristian Hansen <br>
            Front End Developer
            <a href="#work">Contact me</a>
        </div>

     
    </div>
    <div class="continue_container">
        
        <div class="continue">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            
            
          </div>

    </div>
</div>