<div class="welcome-content main-padding">
    <div class="welcome-main">
        <div></div>

        <div  class="greeting">Hi, <br>
            Ich bin <p>Mads</p> Kristian Hansen <br>
            Front End Entwickler
            <button>Kontaktiere mich</button>
        </div>

        

        <div>
            <img src="assets/img/mads.jpg">
        </div>
    </div>
    <div class="continue_container">
        
        <div class="continue">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
            
            
          </div>

    </div>
</div>