.welcome-content {
    background-image: url('../../assets/img/MadsH.jpg');
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 0px;
    background-size: contain;
    background-color: #b6a4a0;
    background-position: right;
    background-repeat: no-repeat;
}


.welcome-main {
    color: white;
    font-size: 3.2vw;
    font-weight: 600;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;

    p {
        margin: 0;
        display: contents;
        color: #cb244b;
    }

    img {
        border: 0px solid white;
        border-radius: 175px;
        height: 210px;
        display: none;
    }
}

.greeting {
    display: flex;
    flex-direction: column;

  

    a {
      width: 300px;
    height: 60px;
    background-color: black;
    color: #2DFCD8;
    border: 2px solid #2DFCD8;
    font-weight: 400;
    font-size: 18px;
    margin-top: 55px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 9px #606060;
    
    display: flex;
    justify-content: center;
    align-items: center;

      &:hover {
          background-color: #2DFCD8;
          color: white;
      }
  }
}

.continue_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.continue {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
  }
  
  .chevron:first-child {
    animation: move 3s ease-out 1s infinite;
  }
  
  .chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
  }
  
  .chevron:before,
  .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
  }
  
  .chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
  }
  
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
  }
  
  @keyframes move {
    25% {
      opacity: 1;
  
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }
  
  .text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
  }
  
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }

  @media(max-width:650px) {
    .welcome-content {
      background-image:unset;
      height: 60vh;
    }

    .welcome-main {
      flex-direction: column;
      padding-top: 50px;

      img {
        display: unset;
      }
    }

    .greeting {
      margin-top: 20px;
      justify-content: center;
    align-items: center;
    text-align: center;

      a {
        margin-top: 25px;
        width: 250px;
        height: 50px;
        scroll-behavior: smooth;
      }
    }

    .continue_container {
      margin-top: 20px;
    }
  }

  @media(max-width:550px) {
    .welcome-main {
      font-size: 20px;
    }
  }

  @media(max-width:318px) {
    .welcome-main {
      font-size: 18px;
    }
  }

  